.contentPane .commands {
    padding: 4px;
}

.contentPane .commands .command {
    cursor: pointer;
}

.ipsOptimizeButton {
    text-align: right;
    margin-left: 10px;
    height: 30px;
}

.map > .routes {
    overflow: auto;
    z-index: 1;
    background: transparent;
    position: absolute;
    top: 20px;
    bottom: 40px;
    right: 61px;
    width: auto;
    min-width: 240px;
    /*display: flex;*/
}

.routes .status {
    min-width: 80px;
    display: inline-block;
    text-overflow: ellipsis;
    background: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
}

.routes .route {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 8px;
    background: white;
}

.simpleDirections {
}

.esriRoutesError,
.esriDirectionsButton,
.esriStopsOptionsButton,
.esriStopsAddDestinationBtn,
.esriTravelModesContainer,
.esriResultsContainer {
    display: none !important;
}

.hidden {
    display: none !important;
}

.simpleDirections .esriStop .esriStopIcon {
        background-image:none;
        border-radius:12px;
        height:22px;
        width:22px;
        margin-top:4px;
}

.simpleDirections .esriStop .esriStopIconColumn {
        vertical-align: top;    
}

.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        border:1pt solid rgba(200,200,200,1);
}

.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        opacity:0.2
}

.route:nth-of-type(3) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,60,200,.9);
        border:1pt solid rgba(60,60,200,1);
}

.route:nth-of-type(2) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,200,60,.9);
        border:1pt solid rgba(60,200,60,1);
}

.route:nth-of-type(1) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(200,60,60,.9);
        border: 1pt solid rgba(200,60,60,1);
}


.ips-info:after{
    display: none;
    content: "Extended Data Goes Here";
}