.routes {
    height: auto;
    max-height: 480px;
    overflow: auto;
    z-index: 1;
    background: white;
    position: absolute;
    padding: 4px;
    top: 20px;
    width: auto;
    left: 61px;
    display: flex;
    opacity: 0.9;
    border-radius: 6px;
    border: 1px solid black;
}

.routes .route {
    /* display: initial; */
    /* height: auto; */
    /* z-index: 1; */
    /* margin: 4px; */
    /* background: white; */
    padding: 4px;
    opacity: 0.9;
}

.route:nth-child(1) {
    top: 18px;
    left: 61px;
}

.route:nth-child(2) {
    top: 18px;
    left: 361px;
}

.route:nth-child(3) {
    top: 18px;
    left: 661px;
}

.simpleDirections {
}

.esriStopsOptionsButton,
.esriStopsAddDestinationBtn,
.esriTravelModesContainer,
.esriResultsContainer {
    display: none !important;
}

.hidden {
    display: none;
}

.simpleDirections .esriStop .esriStopIcon {
        background-image:none;
        border-radius:12px;
        height:22px;
        width:22px;
        margin-top:4px;
}

.simpleDirections .esriStop .esriStopIconColumn {
        vertical-align: top;    
}

.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        border:1pt solid rgba(200,200,200,1);
}

.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        opacity:0.2
}

.route:nth-child(3) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,60,200,.9);
        border:1pt solid rgba(60,60,200,1);
}

.route:nth-child(2) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,200,60,.9);
        border:1pt solid rgba(60,200,60,1);
}

.route:nth-child(1) .simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(200,60,60,.9);
        border: 1pt solid rgba(200,60,60,1);
}


.ips-info:after{
    display: none;
    content: "Extended Data Goes Here";
    user-select:none;
}