.route {
    height: auto;
    max-height: 480px;
    overflow: auto;
}

.route.red {
    border: 1px solid red;
    position: absolute;
    top: 18px;
    z-index: 1;
    background: white;
    left: 61px;
}

.route.green {
    border: 1px solid green;
    position: absolute;
    top: 18px;
    z-index: 1;
    background: white;
    left: 361px;
}

.route.blue {
    border: 1px solid blue;
    position: absolute;
    top: 18px;
    z-index: 1;
    background: white;
    left: 661px;
}

.simpleDirections {
    border: 1px solid black;
    margin:20px;
}

.esriStopsOptionsButton,
.esriStopsAddDestinationBtn,
.esriTravelModesContainer,
.esriResultsContainer {
    display: none !important;
}

.hidden {
    display: none;
}

.simpleDirections .esriStop .esriStopIcon {
        background-image:none;
        border-radius:12px;
        height:22px;
        width:22px;
        margin-top:4px;
}

.simpleDirections .esriStop .esriStopIconColumn {
        vertical-align: top;    
}

.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        border:1pt solid rgba(200,200,200,1);
}

.blue.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        background-color: rgba(60,60,200,0.2);
}

.blue.simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,60,200,.9);
        border:1pt solid rgba(60,60,200,1);
}

.green.simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(60,200,60,.9);
        border:1pt solid rgba(60,200,60,1);
}

.green.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        background-color: rgba(60,200,60,.2);
}

.red.simpleDirections .esriStop .esriStopIcon {
        background-color: rgba(200,60,60,.9);
        border: 1pt solid rgba(200,60,60,1);
}

.red.simpleDirections .esriStop .esriStopIcon.COMPLETE {
        background-color: rgba(200,60,60,.2);
}



.ips-info:after{
    display: none;
    content: "Extended Data Goes Here";
    user-select:none;
}